<section>
  <fieldset>
    <label for="">Nombre del alumno</label>
    <input type="text"
    name="nombreAlumno"
    [value]="alumno.nombreAlumno"
    (input)="cambiarNombre($event)">
  </fieldset>
  <fieldset>
    <label for="">Apellido del alumno</label>
    <input type="text"
    name="apellidoAlumno"
    [value]="alumno.apellidoAlumno"
    (input)="cambiarApellido($event)">
  </fieldset>
  <fieldset>
    <label for="">Seccion del alumno</label>
    <select name="seccion"
    [value]="alumno.seccion"
    (change)="cambiarSeccion($event)">
    <option value="001D">001D</option>
    <option value="002D">002D</option>
    <option value="003D">003D</option>
    <option value="004D">004D</option>
    <option value="005D">005D</option>
    <option value="001V">001V</option>
    <option value="002V">002V</option>
    <option value="003V">003V</option></select>
  </fieldset>
  <fieldset>
    <button (click)="guardarAlumno()">guardar</button>
  </fieldset>

</section>
